<div class="container">
    <h1 class="text-center text-white my-4">Edit Article</h1>
    <%= render 'form'%>
    <div class="text-center">
        <%= button_to 'Return to article listings', articles_path, method: :get, class: "btn btn-outline-light mb-4"%>
    </div>
</div>